* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, button {
  font-size: 62.5%;
  color: #E1E1E6;

  --bg-home: url(/assets/mountains-universe-1.png);
  --bg-universe: url(/assets/mountains-universe-2.png);
  --bg-exploration: url(/assets/mountains-universe-3.png);
  
  --txt-base: #C4C4CC;
  --txt-white: #fff;
}

body {
  position: relative;
}

body, .home, .universe, .exploration {
  width: 100vw;
  height: 100vh;

  font-family: "Roboto", sans-serif;
}

nav {
  position: absolute;
  display: inline-flex;

  margin: 4rem 7.2rem;
  gap: 5rem;

  background: none;
}

nav a {
  display: inline-flex;
  align-items: center;

  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-decoration: none;
  color: white;
}

nav a:focus {
  font-weight: bold;
  color: var(--txt-white);
}

nav img {
  cursor: pointer;
}

.home, .exploration, .universe {
  display: flex;

  background-image: var(--bg-home);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(211, 211, 211, 0.5);
}

.home, .home .container {
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
}

.universe {
  background-image: var(--bg-universe);
}

.exploration {
  background-image: var(--bg-exploration);
}

.container {
  display: grid;
  align-content: center;
  background: none;

  margin-left: 10.2rem;
  gap: 1.6rem;
}

h1 {
 font-size: 4.8rem;
}

p {
  font-size: 1.8rem;

  max-width: 64.8rem;
}

button {
  width: max-content;
  padding: 1.2rem 3.2rem;

  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.4rem;
  background: none;

  border: 2px solid #fff;
  border-radius: .5rem;

  cursor: pointer;
}

button:hover {
  background: #fff;

  color: #02799D;
}

button:focus {
  background: #b6b6b6;
}
/* 
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/